@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: hsl(226, 43%, 10%);
  display: flex;
}

.card-jeremy{
  background-color: hsl(235, 46%, 20%);
  width: 16rem;
  height: 33rem;
  border-radius: 1rem;
  margin-top: 200px;
  margin-left: 200px;
}

.jeremy-info{
  background-color: hsl(246, 80%, 60%);
  width: 16rem;
  height: 23rem;
  border-radius: 1rem;
}

.jeremy-info img{
  width: 90px;
  border: 3px solid white;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 30px;
}

.jeremy-info h1{
  font-family: 'Rubik',sans-serif;
  color: hsl(236, 100%, 87%);
  font-weight: 200;
  font-size: 15px;
  margin-left: 30px;
  margin-top: 40px;
}

.jeremy-info h2{
  font-family: 'Rubik',sans-serif;
  color: white;
  font-weight: 300;
  font-size: 40px;
  margin-left: 30px;
}

.jeremy-time h1{
  font-family: 'Rubik',sans-serif;
  color: hsl(235, 45%, 61%);
  font-weight: 300;
  font-size: 15px;
  margin-left: 30px;
  margin-top: 25px;
  cursor: pointer;
}

.jeremy-time h2{
  font-family: 'Rubik',sans-serif;
  color: white;
  font-weight: 300;
  font-size: 15px;
  margin-left: 30px;
  margin-top: 25px;
  cursor: pointer;
}

.jeremy-time h3{
  font-family: 'Rubik',sans-serif;
  color: hsl(235, 45%, 61%);
  font-weight: 300;
  font-size: 15px;
  margin-left: 30px;
  margin-top: 25px;
  cursor: pointer;
}

.cards-coluna1{
  display: flex;
  flex-direction: row;
}
.colunas{
  display: flex;
  flex-direction: column;
}
.cards-coluna2{
  display: flex;
  flex-direction: row;
  margin-top: -120px;
}

.work-card-maior{
  background-color: hsl(15, 100%, 70%);
  width: 16rem;
  height: 14rem;
  border-radius: 1rem;
  background-image: url(./images/icon-work.svg);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position-x: 11rem;
  background-position-y: -7px;
  display: flex;
  align-items: end;
  margin-left: 30px;
  margin-top: 200px;
}

.work-card-menor{
  background-color: hsl(235, 46%, 20%);
  width: 17rem;
  height: 11.7rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;}

.work-card-menor h1{
  font-family: 'Rubik',sans-serif;
  color: white;
  font-weight: 400;
  font-size: 18px;
  margin-left: 30px;
}

.work-elements{
  display: flex;
  gap: 8rem;
  margin-top: 30px;
}

.work-card-menor img{
  width: 20px;
  height: 5px;
  margin-top: 7px;
}

.work-card-menor h2{
  font-family: 'Rubik',sans-serif;
  color: white;
  font-weight: 300;
  font-size: 50px;
  margin-left: 30px;
  margin-top: 20px;
}

.work-card-menor h3{
  font-family: 'Rubik',sans-serif;
  color: hsl(236, 100%, 87%);
  font-weight: 300;
  font-size: 15px;
  margin-left: 30px;
  margin-top: 10px;
}




.play-card-maior{
  background-color: hsl(195, 74%, 62%);
  width: 16rem;
  height: 14rem;
  border-radius: 1rem;
  background-image: url(./images/icon-play.svg);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position-x: 11rem;
  background-position-y: -7px;
  display: flex;
  align-items: end;
  margin-left: 30px;
  margin-top: 200px;
}

.play-card-menor{
  background-color: hsl(235, 46%, 20%);
  width: 17rem;
  height: 11.7rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.play-card-menor h1{
  font-family: 'Rubik',sans-serif;
  color: white;
  font-weight: 400;
  font-size: 18px;
  margin-left: 30px;
}

.play-elements{
  display: flex;
  gap: 8rem;
  margin-top: 30px;
}

.play-card-menor img{
  width: 20px;
  height: 5px;
  margin-top: 7px;
}

.play-card-menor h2{
  font-family: 'Rubik',sans-serif;
  color: white;
  font-weight: 300;
  font-size: 50px;
  margin-left: 30px;
  margin-top: 20px;
}

.play-card-menor h3{
  font-family: 'Rubik',sans-serif;
  color: hsl(236, 100%, 87%);
  font-weight: 300;
  font-size: 15px;
  margin-left: 30px;
  margin-top: 10px;
}



.study-card-maior{
  background-color: hsl(348, 100%, 68%);
  width: 16rem;
  height: 14rem;
  border-radius: 1rem;
  background-image: url(./images/icon-study.svg);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position-x: 11rem;
  background-position-y: -7px;
  display: flex;
  align-items: end;
  margin-left: 30px;
  margin-top: 200px;
}

.study-card-menor{
  background-color: hsl(235, 46%, 20%);
  width: 17rem;
  height: 11.7rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.study-card-menor h1{
  font-family: 'Rubik',sans-serif;
  color: white;
  font-weight: 400;
  font-size: 18px;
  margin-left: 30px;
}

.study-elements{
  display: flex;
  gap: 8rem;
  margin-top: 30px;
}

.study-card-menor img{
  width: 20px;
  height: 5px;
  margin-top: 7px;
}

.study-card-menor h2{
  font-family: 'Rubik',sans-serif;
  color: white;
  font-weight: 300;
  font-size: 50px;
  margin-left: 30px;
  margin-top: 20px;
}

.study-card-menor h3{
  font-family: 'Rubik',sans-serif;
  color: hsl(236, 100%, 87%);
  font-weight: 300;
  font-size: 15px;
  margin-left: 30px;
  margin-top: 10px;
}



.exercise-card-maior{
  background-color: hsl(145, 58%, 55%);
  width: 16rem;
  height: 14rem;
  border-radius: 1rem;
  background-image: url(./images/icon-exercise.svg);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position-x: 11rem;
  background-position-y: -7px;
  display: flex;
  align-items: end;
  margin-left: 30px;
  margin-top: 200px;
}

.exercise-card-menor{
  background-color: hsl(235, 46%, 20%);
  width: 17rem;
  height: 11.7rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.exercise-card-menor h1{
  font-family: 'Rubik',sans-serif;
  color: white;
  font-weight: 400;
  font-size: 18px;
  margin-left: 30px;
}

.exercise-elements{
  display: flex;
  gap: 7rem;
  margin-top: 30px;
}

.exercise-card-menor img{
  width: 20px;
  height: 5px;
  margin-top: 7px;
}

.exercise-card-menor h2{
  font-family: 'Rubik',sans-serif;
  color: white;
  font-weight: 300;
  font-size: 50px;
  margin-left: 30px;
  margin-top: 20px;
}

.exercise-card-menor h3{
  font-family: 'Rubik',sans-serif;
  color: hsl(236, 100%, 87%);
  font-weight: 300;
  font-size: 15px;
  margin-left: 30px;
  margin-top: 10px;
}


.social-card-maior{
  background-color: hsl(264, 64%, 52%);
  width: 16rem;
  height: 14rem;
  border-radius: 1rem;
  background-image: url(./images/icon-social.svg);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position-x: 11rem;
  background-position-y: -7px;
  display: flex;
  align-items: end;
  margin-left: 30px;
  margin-top: 200px;
}

.social-card-menor{
  background-color: hsl(235, 46%, 20%);
  width: 17rem;
  height: 11.7rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.social-card-menor h1{
  font-family: 'Rubik',sans-serif;
  color: white;
  font-weight: 400;
  font-size: 18px;
  margin-left: 30px;
}

.social-elements{
  display: flex;
  gap: 7rem;
  margin-top: 30px;
}

.social-card-menor img{
  width: 20px;
  height: 5px;
  margin-top: 7px;
}

.social-card-menor h2{
  font-family: 'Rubik',sans-serif;
  color: white;
  font-weight: 300;
  font-size: 50px;
  margin-left: 30px;
  margin-top: 20px;
}

.social-card-menor h3{
  font-family: 'Rubik',sans-serif;
  color: hsl(236, 100%, 87%);
  font-weight: 300;
  font-size: 15px;
  margin-left: 30px;
  margin-top: 10px;
}


.selfcare-card-maior{
  background-color: hsl(43, 84%, 65%);
  width: 16rem;
  height: 14rem;
  border-radius: 1rem;
  background-image: url(./images/icon-self-care.svg);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position-x: 11rem;
  background-position-y: -7px;
  display: flex;
  align-items: end;
  margin-left: 30px;
  margin-top: 200px;
}

.selfcare-card-menor{
  background-color: hsl(235, 46%, 20%);
  width: 17rem;
  height: 11.7rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.selfcare-card-menor h1{
  font-family: 'Rubik',sans-serif;
  color: white;
  font-weight: 400;
  font-size: 18px;
  margin-left: 30px;
}

.selfcare-elements{
  display: flex;
  gap: 6rem;
  margin-top: 30px;
}

.selfcare-card-menor img{
  width: 20px;
  height: 5px;
  margin-top: 7px;
}

.selfcare-card-menor h2{
  font-family: 'Rubik',sans-serif;
  color: white;
  font-weight: 300;
  font-size: 50px;
  margin-left: 30px;
  margin-top: 20px;
}

.selfcare-card-menor h3{
  font-family: 'Rubik',sans-serif;
  color: hsl(236, 100%, 87%);
  font-weight: 300;
  font-size: 15px;
  margin-left: 30px;
  margin-top: 10px;
}

.work-card-menor:hover, .play-card-menor:hover, .study-card-menor:hover, .exercise-card-menor:hover,.social-card-menor:hover, .selfcare-card-menor:hover{
  background-color: hsl(235, 45%, 61%);
  cursor: pointer;
  width: 17rem;
  height: 11.7rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;}

  .tres-pontos{
    cursor: pointer;
  }